<div class="gra" style="background-color: whitesmoke ; min-width: 1000px; min-height: 800px; ">
    <div class="row animate__animated animate__fadeIn">
        <div class="col" style="text-align: center;">
            <img src="https://s3.amazonaws.com/s3.timetoast.com/public/uploads/photo/17994816/image/medium-6b5f7ed52848965d08bac3c648ef4a3d.png" alt="banco-logo" width="560" height="554" style="text-align: center;">
        </div>
    </div>
    <div class="row animate__animated animate__fadeIn animate__delay-1s">
        <div class="col mt-2" style="text-align: center; color: white; ">
            <h1>Bienvenido al sistema de prestamos</h1>
        </div>
    </div>
    <div class="row animate__animated animate__fadeIn animate__delay-2s">
        <div class="col mt-5" style="text-align: center;">
            <button class="lm" (click)="navtopres()">
                <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
                </span>
                <span class="button-text">Comenzar</span>
              </button>
        </div>
    </div>
</div>